//# Drawer

.sidebar-wrapper {

  >div {
    background-color: $secondary;
    width: 120px;
  }

  .nav-menu {
    margin-top: 2rem;
    text-align: center;
  }

  .nav-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem 0 2rem;
    cursor: pointer;
    color: $white;
    font-size: 14px;
    text-decoration: none;

    .icon {
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: 0.5rem;

      &.kyc {
        background-image: url("../images/icons/kyc.png");
      }

      &.amla {
        background-image: url("../images/icons/amla.png");
      }

      &.accounts {
        background-image: url("../images/icons/accounts.png");
      }
    }

    &.is-active {
      .kyc {
        background-image: url("../images/icons/kyc-active.png");
      }

      .amla {
        background-image: url("../images/icons/amla-active.png");
      }

      .accounts {
        background-image: url("../images/icons/accounts-active.png");
      }
    }
  }
}

.avatar-wrapper {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border: 1px solid $primary;
    border-radius: 50%;
    padding: 2px;
    background-color: $white;
  }
}