//# Login

.login-wrapper {
  background: url("../images/background-img@2x.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;

  .form-container {
    padding: 2em;

    h1 {
      font-size: 1rem;
      margin-top: 1rem;
      color: $secondary;
    }
  }

  .form-wrapper {
    margin-top: 2rem;

    label {
      color: $secondary;
      font-size: 18px;
      font-weight: 500;

      +.MuiInput-formControl {
        margin-top: 1.5rem;
      }
    }

    .MuiInput-underline:after {
      border-bottom-color: $primary;
    }

    .btn-primary {
      background-color: $primary;
      margin-top: 2rem;
      border-radius: 30px;
      color: $secondary;
      min-height: 38px;
      text-transform: capitalize;
    }
  }
}